{% extends "base.html" %}
{% load tz %}


{% block content %}
<div>

<h2>Vendor Documents</h2>

<hr>

<div class="mb-3">
    <a href="{% url 'documents:document_create' %}" class="btn btn-primary">
        Add Documents
    </a>
</div>

{% if documents %}

<table class="table">
    <thead>
        <tr>
            <th>S.N.</th>
            <th>Vendor</th>
            <th>Document Type</th>
            <th>Uploaded At</th>
            <th>Updated At</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        {% for document in documents %}
        <tr>
            <td>{{ forloop.counter }}</td> 
            <td>{{ document.vendor.name }}</td>
            <td>{{ document.get_document_type_display }}</td>
            <td>{{ document.uploaded_at|localtime }}</td>
            <td>{{ document.updated_at|localtime }}</td> 

            <td>
                <a href="{% url 'documents:document_detail' document.pk %}" class="btn btn-secondary btn-sm">
                    <i class="fa fa-eye"></i>

                </a>
                
                <a href="{% url 'documents:document_edit' document.pk %}" class="btn btn-warning btn-sm">
                    <i class="fa fa-edit"></i>
                </a>
                
                <form method="POST" action="{% url 'documents:document_delete' document.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
        <p>No documents available.</p>
    {% endif %}
</div>
{% endblock content %}
