{% extends "base.html" %}
{% load tz %}


{% block content %}
<h2>Vendor Documents</h2>

<hr>

<div class="mb-3">
    <a href="{% url 'documents:document_create' %}" class="btn btn-primary">
        Add Documents
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>S.N.</th>
            <th>Vendor</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        {% for vendor in vendors %}
        <tr>
            <td>{{ forloop.counter }}</td> 
            <td>{{ vendor.name }}</td>

            <td>
                <a href="{% url 'documents:document_detail' vendor.pk %}" class="btn btn-secondary btn-sm">
                    <i class="fa fa-eye"></i>

                </a>
                
                <a href="{% url 'documents:document_detail' vendor.pk %}" class="btn btn-warning btn-sm">
                    <i class="fa fa-edit"></i>
                </a>
                
                <form method="POST" action="{% url 'documents:document_delete' vendor.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
