{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<a class="btn btn-success-outline" href="{% url 'documents:document_list' %}">
    <i class="fa fa-angle-left"></i> Back
</a>
<div class="card card-default p-10">
    <div class="card-body">
        <div class="body-block">
            <section class="section">
                <div class="row sameheight-container">
                    <div class="col-md-6">
                        <form method="POST" enctype="multipart/form-data" id="document-form">
                            {% csrf_token %}

                            <!-- Render the vendor field -->
                            {{ form.vendor|as_crispy_field }}

                            <!-- Documents heading -->
                            <h3 class="mt-3">Documents</h3>

                            <!-- Container to hold multiple document sections -->
                            <div id="document-fields-container">
                                <div class="document-fields">
                                    {{ form.document_type|as_crispy_field }}
                                    <div class="file-wrapper">
                                        {{ form.file|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="form-group d-flex justify-content-between mt-4">
                                <button type="submit" class="btn btn-primary">Update Document</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock content %}
