asgiref==3.8.1
crispy-bootstrap5==2025.4
Django==5.1.7
django-crispy-forms==2.3
django-debug-toolbar==5.1.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
Markdown==3.8
psycopg==3.2.6
PyJWT==2.9.0
python-decouple==3.8
sqlparse==0.5.3
typing_extensions==4.13.0
