{% extends 'base.html' %}
{% load static %}

{% block title %}404 - Page Not Found{% endblock %}

{% block content %}

<!-- Breadcrumbs -->
<div id="breadcrumbs" class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="{% url 'home' %}" title="Go to Home Page">
                            <i class="fa fa-home"></i> Home
                        </a>
                    </li>
                    <li class="last">
                        <span>404</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- 404 Content -->
<div class="container text-center py-5">
    <h1 class="display-1 text-danger">404</h1>
    <h2 class="text-secondary">Page Not Found</h2>
    <p class="lead">Sorry, but the page you are looking for does not exist, has been removed, or had its name changed.</p>
    <a href="{% url 'home' %}" class="btn btn-primary mt-3">
        <i class="fa fa-arrow-left"></i> Back to Homepage
    </a>
</div>
<!-- End 404 Content -->

{% endblock %}